﻿@{
    Layout = null;}
<html ng-app="plunker">
<head>
    <meta charset="utf-8" />
    <title>تسجيل المشروعات</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
<link href="~/Content/css.css" rel="stylesheet" />
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />@*not needed in units page*@
    @*   <link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap.css" rel="stylesheet" />*@
    <link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap-responsive.css" />@*not needed in units page*@
    <link href="~/Content/alert.css" rel="stylesheet" />

    @*  *@
    <link href="~/Content/bootstrappaging.css" rel="stylesheet">
   
    @*  *@
</head>
<body ng-controller="projectCtrl">
    @RenderSection("mybody");
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="http://bootstrappaginator.org/lib/bootstrap-paginator.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
<script src="~/Scripts/alert.js"></script>
    
<script> alertify.set({ delay: 1000 });



    var app = angular.module('plunker', []);
</script>
@RenderSection("myjs");
       
</html>
