﻿
     body {
            direction: rtl;
        }
        /*to align textboxs and labels under each other :)*/
        .alignmetextbox
         {
            /*float: right;
            width: 250px;*/
         }

        .alignmelabel 
        {
            
            display: inline-block;
            width: 70px;
            font-weight: bold;
        }

        .clearme {
        }

        .searchy {
            margin-right: auto;
        }

        .myform {
            padding-right: 9em;
        }

        .mytablediv {
            padding-right: 9em;
        }

        table.mytable {
            direction: rtl;
            text-align: right;
        }

            table.mytable caption, table.mytable th, table.mytable td {
                direction: ltr;
                text-align: right;
            }

/*.control-label {
float: right;
display: inline;
margin-left: 0px;
margin-right: 360px;}*/