﻿
label
{
    
font-family:"Times New Roman";
font-size:20px;
    text-align:center
}


/*margin is very imp :)*/
label{
   /*width and height make alot difference in alignning*/
    width: 100px;
}

.input{width:199px;}
.buttons{
  
    margin-right:105px;
     margin-left:140px;
margin-top:10px}

    table {
            direction: rtl;
            text-align: right;
        }

            table caption, table th, table td {
                direction: ltr;
                text-align: right;
            }


            tr.hover {
   cursor: pointer;
   /* whatever other hover styles you want */
}

 .input.ng-dirty.ng-valid {
    border:1px solid Green;
}
 .input.ng-dirty.ng-invalid {
    border:1px solid Red;
}
.input.ng-dirty.ng-valid  {
    color:green;
    display:inline;
}
.input.ng-dirty.ng-invalid  {
    color:red;
    display:inline;
}
.mytitle {
    
   text-align:center;
  
font-size:50px;
font-style:oblique;
}


.names {

margin-right:100px;
margin-left:100px;
padding:50px;


background-color:#D5D0D6;
}