﻿@section mybody{
    <div class="mytablediv" ng-show="!showform">
        <table class="table table-hover mytable">



            <input placeholder="بحث" class="searchy" ng-model="search.Name" ng-blur="blurSearching()" ng-focus="searching()" />
            <thead>
                <tr>
                    <th>#</th>
                    <th>أسم المشروع</th>
                    <th>أسم العمارة</th>
                    <th>تفاصيل</th>
                    <th>حذف</th>
                   <th> <button class="btn btn-primary " ng-disabled="buildingstobodeleted.length==0" ng-click="deleteall()">حذف </button></th>
                </tr>
            </thead>
            <tbody>


                <tr ng-repeat="building in buildings|filter:search| orderBy:'-BuildingID'| slice:start:end">
                    <td><input type="checkbox" class="checkedrow" ng-click="deleteggroup(building,$event)" /></td>
                    <td>{{building.ReProjects.Name}}</td>
                    <td>{{building.Name}}</td>
                    <td>
                        <button ng-click="details(building)" class="btn">تفاصيل</button></td>
                    <td>
                        <button ng-click="delete(building)" class=" btn btn-danger">حذف</button>
                    <td>
                </tr>
            </tbody>
        </table>



   

@*            <button class="btn btn-primary " ng-disabled="buildings.length<=end" ng-click="next()">next</button>
             <button class="btn btn-primary " ng-disabled="start==0" ng-click="pre()">pre</button>*@


        <button class="btn btn-primary " ng-click="showformMethod();clear();triggerlistchange();">إضافه</button>

     <div  id="example"></div>



    </div>

    <input ng-show="showfrom" />
    <div ng-show="showform" class="myform">
        <form class="bs-docs-example form-horizontal">
            <div class="control-group">
                <label class="control-label alignmelabel">أسم المشروع</label>

                <select class="alignmetextbox">
                    <option>{{choosefromhere}}</option>
                    <option ng-repeat="p in projects" ng-class="{selected: p.id==bproid}" value="{{p.id}}">{{p.name}} </option>
                </select>
            </div>
            <input type="hidden" placeholder="أسم المشروع" ng-model="bprona" />
            <label class="control-label alignmelabel">أسم العمارة</label>


            <input class="alignmetextbox" placeholder="أسم العمارة" ng-model="bna" />
            <div class="controls"></div>
            <div class="controls">
                <label class="control-label alignmelabel">ملاحظات</label>

                <textarea class="alignmetextbox" rows="3" cols="50" placeholder="ملاحظات" ng-model="bno"></textarea>
            </div>
            <input type="hidden" ng-model="bid" />

            <input type="hidden" ng-model="bproid" />

            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                    </label>
                    <button type="submit" ng-disabled="valid()" ng-click="save(bna,bno,bproid,bid)" class="btn btn-primary ">حفظ</button>
                    <button ng-click="showformMethod()" class="btn">بحث</button>
                    <button class="btn " ng-click="clear()">تفريغ</button>

                </div>
        </form>
    </div>



}

@section myjs{

    <script>
     
       
        //to get for specific row to (paging)
      app.filter('slice', function () {
          return function (arr, start, end) {
              return arr.slice(start, end);
          };
      });
        //end 
        //directives to make me call angularjs methods on focus and on blur
      app.directive('ngFocus', ['$parse', function ($parse) {
          return function (scope, element, attr) {
              var fn = $parse(attr['ngFocus']);
              element.bind('focus', function (event) {
                  scope.$apply(function () {
                      fn(scope, { $event: event });
                  });
              });
          }
      }]);

      app.directive('ngBlur', ['$parse', function ($parse) {
          return function (scope, element, attr) {
              var fn = $parse(attr['ngBlur']);
              element.blur( function (event) {
                  scope.$apply(function () {
                      fn(scope, { $event: event });
                  });
              });
          }
      }]);

        // end of directives
        function projectCtrl($scope) {
            angular.element(document).ready(function () {



                $scope.buildings = [];

                //paging code

                //bootstrap paging toolbar
               
                $scope.start = 0;
                $scope.numrec = 5;
                $scope.end=$scope.numrec;
                
                function setpagertool()
                {
                        var pagesnum = Math.ceil($scope.buildings.length / $scope.numrec);
                        var options = {
                            currentPage: 1,
                            totalPages:pagesnum ,
                    

                            itemTexts: function (type, page, current) {
                                switch (type) {
                                    case "first":
                                        return "الأول";
                                    case "prev":
                                        return "السابق";
                                    case "next":
                                        return "التالى";
                                    case "last":
                                        return "الأخير";
                                    case "page":
                                        return  page;
                          
                                }
                            }
                            ,
                            onPageChanged: function (e, oldPage, newPage) {
                                $scope.end = newPage * $scope.numrec;
                                $scope.start = $scope.end - $scope.numrec;
                                $scope.$apply();
                            }
                        }

                        $('#example').bootstrapPaginator(options);
                        console.log(options);
                }
              
                //end of it


                //start of my paging 
              


          
                //end of my pagging

                //end of pagin code



                // $scope.showtable = true;
                $scope.choosefromhere = "أختر من هنا";
                $scope.valid = function () {

                    // console.log("id:" + $scope.bproid + " name: " + $scope.bna);
                    var bool = (isEmpty($scope.bproid) || isEmpty($scope.bna));
                    // console.log(bool);
                    return (bool)
                }
                $scope.selected;
                $scope.showform = false;
                $scope.showformMethod = function () {
                    $scope.showform = !$scope.showform;
                    $scope.$apply();

                }
                $(".selected").attr("selected", "selected");
                
                $scope.fillbuildings = function () {
                    $.ajax({
                        url: "/Building/getbuildingdata", success: function (data) {

                            $scope.buildings = data;
                            $scope.$apply();
                            setpagertool();
                           
                        }
                    })
                }
                $scope.fillbuildings();
                $scope.projects = [];
                $.ajax({
                    url: "/Building/getProjectNameID",
                    success: function (data) {
                        $scope.projects = data;
                        $scope.$apply();
                    }
                });
                $scope.delete = function (building) {
                    console.log(building);
                    $.ajax({
                        url: "/Building/deletebuilding/" + building.BuildingID
                        , success: function (data) {
                            if (data != "error") {
                                

                                for (var i = 0; i < $scope.buildings.length; i++) {
                                  //  console.log(i);
                                    if ($scope.buildings[i].BuildingID == building.BuildingID) {
                                       
                                        $scope.buildings.splice(i, 1);
                                        setpagertool();
                                    }
                                }

                                alertify.success("تم الإلغاء");
                                $scope.$apply();

                            }
                            else {
                                alertify.error("حدث خطأ ما :(");
                            }

                        }
                    });
                }
                $scope.details = function (building) {

                    $scope.bna = building.Name;
                    $scope.bno = building.Notes;
                    $scope.bid = building.BuildingID;
                    $scope.bprona = building.ReProjects.Name;
                    $scope.bproid = building.ReProjects.ProjectID;

                    $("select").val($scope.bproid);
                    $scope.showformMethod();
                    //alert($scope.bprona);
                    //$.ajax({
                    //    url: "",
                    //    success: function (data) {

                    //    }
                    //});


                }
                $scope.clear = function () {
                    $scope.bna = "";
                    $scope.bno = "";
                    $scope.bid = -1;
                    $scope.bprona = "";
                    $scope.bproid = "";
                    $("select").val($scope.choosefromhere);
                    $scope.$apply();
                    $scope.triggerlistchange();

                }
                $("select").change(function () {

                    var value = $("select option:selected").prop('value');
                    if (value != $scope.choosefromhere) {
                        $scope.bproid = value;

                    }
                    else {
                        $scope.bproid = "";
                        $scope.$apply();

                    }
                    $scope.$apply();
                })

                $scope.triggerlistchange = function () {
                    $("select").trigger("change");
                }

                //method to make the search on all data not only the view in that page now 
                //it does that by making the start and end shows all the data
                $scope.searching =
                 function ()
                {
                     $scope.start = 0;
                     $scope.end = $scope.buildings.length;
                 }
                $scope.blurSearching= function () {
                    $scope.start = 0;
                    $scope.end = $scope.numrec;
                    console.log(":(")
                }
                //end 

                $scope.save = function (buildingname, buildingnotes, projectid, buildingid) {

                    $.ajax({
                        url: "/Building/addbuilding",
                        data: {
                            buildingname: buildingname,
                            buildingnotes: buildingnotes,
                            projectid: projectid,
                            buildingid: buildingid
                        },
                        success: function (data) {
                            $scope.clear();
                            
                            console.log("success")
                            if (data.type == "added") {
                                $scope.buildings.push(data.mynew);
                                alertify.success("تم الحفظ :)");
                              //  console.log("added")
                            }
                            else {
                                for (var i = 0; i < $scope.buildings.length; i++) {
                                    console.log(i);
                                    if ($scope.buildings[i].BuildingID == buildingid) {
                                        $scope.buildings[i] = data.mynew;
                                    }
                                }
                                alertify.success("تم التعديل :)")
                               // console.log("edited")
                            }

                        }
                    });
                }

                //method to delete by group 
                //as it take any checked buildings and put them in an array                 
                $scope.buildingstobodeleted=[];
                $scope.deleteggroup = function (building,event) {

                    
                    if (event.target.checked == true) {
                        $scope.buildingstobodeleted.push(building);
                        console.log($scope.buildingstobodeleted);
                    }
                    else {
                        $scope.buildingstobodeleted.splice($scope.buildingstobodeleted.indexOf(building),1);
                        console.log($scope.buildingstobodeleted);
                    }
                    console.log(event.target.checked);
                }
                //end of method

                //method to delete the array carriying buildings to be deleted
                $scope.deleteall=function()
                {
                    for (var i = 0; i < $scope.buildingstobodeleted.length; i++) {
                        $scope.delete($scope.buildingstobodeleted[i]);
                    }
                    $scope.buildingstobodeleted = [];
                    $(".checkedrow").attr("checked", false);
                }



            })

        }
        function isEmpty(str) {
            return (!($.trim(str).length > 0));
        }
     

       
    </script>

}
