﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html ng-app="application" ng-controller="CustomerCtrl">

<head>
    <title>{{Title}}</title>
    
 @Scripts.Render("~/bundles/scripts")
@Styles.Render("~/bundles/styles")
    <script src="~/Scripts/Customers.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
 
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>


</head>
<body dir="rtl">


    <div class='container-fluid names '>
            
        <img src="~/Content/AjaxLoader.gif" ng-show="loading" />

        <input type="text" id="searchCustomerName" placeholder="بحث بأسم العميل" style="border-color: red; margin-bottom: 50px" ng-model="selected" ng-change="read(selected)" typeahead="customer.CustomerID as customer.Name for customer in ReCustomers | filter:$viewValue">

        <br />
        @* tabs html *@
        <div style="max-width: 400px; margin: 0 auto 10px;">
            <button ng-disabled="showCustomerData" ng-click="showCustomerData=!showCustomerData" type="button" class="btn btn-large btn-block " style="font-size: 24px; font-weight: bold">بيانات العملاء</button>
            <button ng-disabled="!showCustomerData" ng-click="showCustomerData=!showCustomerData" type="button" class="btn btn-large btn-block" style="font-size: 24px; font-weight: bold">بيانات الوحدات</button>

        </div>
        @*end tabs html *@
         <button class="btn btn-primary" style="    margin-bottom: 10px;    margin-right: 10px;" onclick="setTimeout(function(){$('input').eq(1).select()},1);" ng-click="Customer={};showCustomerData=true">إضافه عميل جديد</button>

        @* form html *@      
        <form name="f1" ng-show="showCustomerData" class="well">
            <label>الأسم </label>
            <input class="input" required name="Name"  ng-model="Customer.Name" /><label ng-show="f1.Name.$error.required" style="color:red">*</label>
            <br />
            <label>الرقم القومى </label>
            <input class="input" required ng-pattern="/^\d{1,}$/" name="Per" ng-model="Customer.PersonalNO" /><label ng-show="f1.Per.$error.required" style="color:red">*</label>
            <br />
            <label>العنوان </label>
            <input class="input" required name="Address" ng-model="Customer.Address" /><label ng-show="f1.Address.$error.required" style="color:red">*</label>
            <br />
            <label>رقم الهاتف </label>
            <input class="input" ng-pattern="/^\d{1,}$/"  ng-model="Customer.TelNO" />
            <br />
            <label>رقم الموبايل</label>
            <input class="input" ng-pattern="/^\d{1,}$/" name="mob" required ng-model="Customer.MobileNO" /><label ng-show="f1.mob.$error.required" style="color:red">*</label>
            <br />
            <label>ملاحظات </label>
            <textarea class="input" ng-model="Customer.Notes"></textarea>
        </form>
        @* end Form html *@

       @* مكان فورم بيانات الوحدات*@
         
    
    
        <form name="f2" novalidate ng-show="!showCustomerData" class="well">
         
    <div style="border-color: #B7E1ED">

                <table>
                    <thead>
                        <tr>
                            <th>رقم الوحدة</th>
                            <th>رقم العمارة</th>
                            
                            <th><button class="btn btn-default " ng-click="addUnit()" style="padding: 2px;">أضف وحدة</button></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-click="ReCustBuildingEqual(unit)" ng-repeat="unit in Customer.ReCustBuilding" style="cursor:pointer">
                            <td>{{unit.ReUnits.UnitNO}}</td>
                            <td>{{unit.ReUnits.Name}}</td>
                      <td><button class="btn  btn-mini  btn-danger "style="padding: 0px 5px 0px 5px;" ng-click="Customer.ReCustBuilding.splice($index,1)">x</button></td>
                        </tr>
                    </tbody>

                </table>

            </div>
            <div ng-hide="!Customer.ReCustBuilding||Customer.ReCustBuilding.length==0"> 
            <label>أسم المشروع</label>

            <select name="66" required class=" input" ng-model="ReCustBuilding.ReUnits.ProjectID" ng-options="p.ProjectID as p.Name for p in ProjectNameID">
                <option style="display: none" value="">أختر من </option>
            </select><label ng-show="ReCustBuilding.ReUnits.ProjectID==''" style="color:red">*</label>
            <br />
            <label>أسم العمارة</label>
            <select name="44" required ng-model="ReCustBuilding.ReUnits.BuildingID" ng-options="b.BuildingID as b.Name for b in buildingNameID|keyequal:'ProjectID':ReCustBuilding.ReUnits.ProjectID" class=" input">
                <option style="display: none" value="">أختر من </option>

            </select><label ng-show="ReCustBuilding.ReUnits.BuildingID==''" style="color:red">*</label>

            <br />
      
      <label>رقم الوحدة </label>

            <select name="55" required ng-model="ReCustBuilding.ReUnits.UnitsID" ng-options="b.UnitsID as b.UnitNO for b in unitsNameID|keyequal:'BuildingID':ReCustBuilding.ReUnits.BuildingID" ng-change="ChangeUnit(ReCustBuilding.ReUnits.UnitsID)" class="  input">
                <option style="display: none" value="">أختر من </option>

         </select><label ng-show="ReCustBuilding.ReUnits.UnitsID==''" style="color:red">*</label>
               
            <br />
            @* must be filtered by units list options :( *@
           
            <label>رقم الدور </label>
            <input disabled class="input" ng-model="ReCustBuilding.ReUnits.FloorNO" />
            <br />
            <label>أسم النموذج</label>
            <input disabled class="input" ng-model="ReCustBuilding.ReUnits.ModelName" />
            <br />
            <label>رقم النموذج  </label>
            <input disabled  class="input" ng-model="ReCustBuilding.ReUnits.ModelNO" />
            <br />
            <label>السعر </label>
            <input class="input" required ng-model="ReCustBuilding.Price" name="3"  /><label ng-show="f2.3.$error.required" style="color:red">*</label>
            <br />
            <label>تاريخ التعاقد</label>
            <input class="input" onchange="dateFormat(this)" ng-pattern='/\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}/' required ng-model="ReCustBuilding.DateContract" name="2" /><label ng-show="f2.2.$error.required" style="color:red">*</label>
            <br />
            <label>نوع السداد  </label>
            <input required type="radio" style="margin: 10px" ng-model="ReCustBuilding.PayedTYpe" name="1" value="0">فورى
        <input type="radio" style="margin: 10px" ng-model="ReCustBuilding.PayedTYpe" value="1" name="1" />تقسيط    <label ng-show="f2.1.$error.required" style="color:red">*</label>
            <br />
            <div ng-show="ReCustBuilding.PayedTYpe==true">
                <label>عدد الأقساط</label>
                <input class="input" ng-model="ReCustBuilding.NoInstallment" />
                <br />
                <label>تاريخ بدايه أول قسط  </label>
                <input class="input" onchange="dateFormat(this)" ng-pattern='/\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}/' ng-model="ReCustBuilding.FirstDateInstallment" />
                <br />
                <label>مدة القسط </label>
                <input class="input" ng-model="ReCustBuilding.PeriodInstallment" />شهر

                <br />
                <button  ng-click="ChangeInstallment();validateTotalInstallemnts()" ng-disabled="!(ReCustBuilding.NoInstallment && ReCustBuilding.FirstDateInstallment &&ReCustBuilding.PeriodInstallment && ReCustBuilding.Price)">تعديل الأقساط</button>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>رقم القسط</th>
                            <th>تاريخ القسط</th>
                            <th>القيمه</th>
                            <th>تم الدفع</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-show="totalInstValid" style="color:red">قيمه الأقساط لا تساوى قيمه السعر </div>
                        <tr ng-repeat="ReCustInstallment in filteredInstallments=(Customer.ReCustInstallment|keyequal:'UnitsID':ReCustBuilding.UnitsID)">
                            <td>
                                @*<editable ng-model="ReCustInstallment.InstallmentNO"></editable>*@
                                <input disabled  ng-model="ReCustInstallment.InstallmentNO"/>
                            </td>
                            <td>
                                @*<editable ng-model="ReCustInstallment.DateInstallment"></editable>*@
                                <input onchange="dateFormat(this)"   ng-model="ReCustInstallment.DateInstallment"/>
                            </td>
                            <td>
                                @*<editable ng-model="ReCustInstallment.value"></editable>*@
                                <input  ng-model="ReCustInstallment.value" ng-change="validateTotalInstallemnts()"/>
                            </td>
                            <td>
                                @*<editable ng-model="ReCustInstallment.Payed"></editable>*@
                                <input type="checkbox"  ng-model="ReCustInstallment.Payed"/>

                            </td>
                        </tr>
                
    </tbody>
      </table>



            </div>
                </div>
        </form>

        <button class="btn btn-primary" ng-disabled="(!f1.$valid)||(!f2.$valid)||(totalInstValid)" ng-click="update()">حفظ</button>
         <button class="btn btn-danger" ng-hide="confirm" ng-click="confirm=true">حذف </button>
        <div ng-show="confirm">
      <label style="  width: 312px;">على ترغب فى إلغاء العميل و جميع تعاملاته ؟</label> 
        <button class="btn btn-default" ng-click="confirm=false">لا</button>
        <button class="btn btn-danger"  ng-click="confirm=false;delete(Customer.CustomerID)">تأكيد الحذف</button>

        </div>
        @*{{Customer}}{{confirm}}*@




    </div>

    <br />





</body>
</html>

