

<!DOCTYPE html>
<html ng-app="application" ng-controller="CustomerCtrl">

<head>
    <title>{{Title}}</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="http://localhost:1067/Scripts/toDictionary.js">    </script>

    <script src="http://localhost:1067/Scripts/Customers.js"></script>



    <link rel="stylesheet" href="http://localhost:1067/Content/unitpagecss.css" />
    <script src="http://localhost:1067/Scripts/alert.js"></script>
    <link href="http://localhost:1067/Content/alert.css" rel="stylesheet" />

    <link href="http://localhost:1067/Content/bootstrappaging.css" rel="stylesheet" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.4.0.js"></script>


</head>
<body dir="rtl">
<div class='container-fluid names '>
    <textarea style="text-align:left" ng-model="html"></textarea> <br>
    <div compile="html"></div>
    <img src="http://localhost:1067/Content/AjaxLoader.gif" ng-show="loading" />

    <input type="text" id="searchCustomerName" placeholder="بحث بأسم العميل" style="border-color: red; margin-bottom: 50px" ng-model="selected" ng-change="read(selected)" typeahead="customer.CustomerID as customer.Name for customer in ReCustomers | filter:$viewValue">

    <br />

    <div style="max-width: 400px; margin: 0 auto 10px;">
        <button ng-disabled="showCustomerData" ng-click="showCustomerData=!showCustomerData" type="button" class="btn btn-large btn-block " style="font-size: 24px; font-weight: bold">بيانات العملاء</button>
        <button ng-disabled="!showCustomerData" ng-click="showCustomerData=!showCustomerData" type="button" class="btn btn-large btn-block" style="font-size: 24px; font-weight: bold">بيانات الوحدات</button>
    </div>



    <form ng-show="showCustomerData" class="well">
        <label>الأسم </label>
        <input class="input" ng-model="Customer.Name" />
        <br />
        <label>الرقم القومى </label>
        <input class="input" ng-model="Customer.PersonalNO" />
        <br />
        <label>العنوان </label>
        <input class="input" ng-model="Customer.Address" />
        <br />
        <label>رقم الهاتف </label>
        <input class="input" ng-model="Customer.TelNO" />
        <br />
        <label>رقم الموبايل</label>
        <input class="input" ng-model="Customer.MobileNO" />
        <br />
        <label>ملاحظات </label>
        <textarea class="input" ng-model="Customer.Notes"></textarea>
    </form>





    <form ng-show="!showCustomerData" class="well">

        <div style="border-color: #B7E1ED">

            <table>
                <thead>
                <tr>
                    <th>رقم الوحدة</th>
                    <th>رقم العمارة</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-click="ReCustBuildingEqual(unit)" ng-repeat="unit in Customer.ReCustBuilding" style="cursor:pointer">
                    <td>{{unit.ReUnits.UnitNO}}</td>
                    <td>{{unit.ReUnits.Name}}</td>
                </tr>
                </tbody>

            </table>

        </div>

        <label>أسم المشروع</label>

        <select class=" input" ng-model="ReCustBuilding.ReUnits.ProjectID" ng-options="p.ProjectID as p.Name for p in ProjectNameID">
            <option style="display: none" value="">أختر من </option>
        </select>
        <br />
        <label>أسم العمارة</label>
        <select ng-model="ReCustBuilding.ReUnits.BuildingID" ng-options="b.BuildingID as b.Name for b in buildingNameID|keyequal:'ProjectID':ReCustBuilding.ReUnits.ProjectID" class=" input">
            <option style="display: none" value="">أختر من </option>

        </select>

        <br />

        <label>رقم الوحدة </label>

        <select ng-model="ReCustBuilding.ReUnits.UnitsID" ng-options="b.UnitsID as b.UnitNO for b in unitsNameID" class="  input">
            <option style="display: none" value="">أختر من </option>

        </select>
        <br />
        <label>رقم الدور </label>
        <input class="input" ng-model="ReCustBuilding.ReUnits.FloorNO" />
        <br />
        <label>أسم النموذج</label>
        <input class="input" ng-model="ReCustBuilding.ReUnits.ModelName" />
        <br />
        <label>رقم النموذج  </label>
        <input class="input" ng-model="ReCustBuilding.ReUnits.ModelNO" />
        <br />
        <label>السعر </label>
        <input class="input" ng-model="ReCustBuilding.Price" />
        <br />
        <label>تاريخ التعاقد</label>
        <input class="input" ng-model="ReCustBuilding.DateContract" />
        <br />
        <label>نوع السداد  </label>
        <input type="radio" style="margin: 10px" ng-model="ReCustBuilding.PayedTYpe" value="0">فورى
        <input type="radio" style="margin: 10px" ng-model="ReCustBuilding.PayedTYpe" value="1" />تقسيط
        <br />
        <div ng-show="ReCustBuilding.PayedTYpe==true">
            <label>عدد الأقساط</label>
            <input class="input" ng-model="ReCustBuilding.NoInstallment" />
            <br />
            <label>تاريخ بدايه أول قسط  </label>
            <input class="input" ng-model="ReCustBuilding.FirstDateInstallment" />
            <br />
            <label>مدة القسط </label>
            <input class="input" ng-model="ReCustBuilding.PeriodInstallment" />شهر

            <br />
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>رقم القسط</th>
                    <th>تاريخ القسط</th>
                    <th>القيمه</th>
                    <th>تم الدفع</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="ReCustInstallment in Customer.ReCustInstallment|keyequal:'UnitsID':ReCustBuilding.UnitsID">
                    <td>
                        <editable ng-model="ReCustInstallment.InstallmentNO"></editable>
                    </td>
                    <td>
                        <editable ng-model="ReCustInstallment.DateInstallment"></editable>
                    </td>
                    <td>
                        <editable ng-model="ReCustInstallment.value"></editable>
                    </td>
                    <td>
                        <editable ng-model="ReCustInstallment.Payed"></editable>

                    </td>
                </tr>

                </tbody>
            </table>



        </div>
    </form>






</div>

<br />





</body>
</html>

