﻿@section mybody{

    <div class="mytablediv" ng-hide="Ismytabledivhidden">
        <table class="table table-hover mytable">


            <input placeholder="بحث" class="searchy" ng-model="search" />
    </div>
    <thead class="headtable">
        <tr>

            <th>أسم المشروع</th>
            <th>تفاصيل</th>
            <th>حذف</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="project in p | filter:search ">
            <td>{{project.name}}</td>
            <td>
                <button ng-click="details(project)" class="btn">تفاصيل</button></td>
            <td>
                <button ng-click="delete($index)" class=" btn btn-danger">حذف</button>
            <td>
            @*<td>
      <a href="#/edit/{{project.$id}}"><i class="icon-pencil"></i></a>
    </td>*@
        </tr>

    </tbody>
    </table>
            <button class=" btn btn-primary " ng-click="addnewone()">إضافه</button>

    </div>
        
             
          <div>
              <div name="myForm" class="myform" ng-hide="Ismyformyhidden">
                  <form class="bs-docs-example form-horizontal">
                      <div class="control-group">
                          <label class="control-label alignmelabel" for="inputEmail">أسم المشروع</label>
                       
                              <input type="hidden" ng-model="projectID" value="-1" />
                              <input class="clearme" type="text" id="inputEmail" placeholder="أسم المشروع" ng-model="projectName">
                              <font color="red">*</font>

                          
                      </div>
                      <div class="control-group">
                          <label class="control-label alignmelabel">ملاحظات</label>
                         
                              <textarea class="clearme" rows="4" cols="50" placeholder="ملاحظات" ng-model="projectNotes"></textarea>
                        
                      </div>
                      <div class="control-group">
                          <div class="controls">
                              <label class="checkbox">
                              </label>
                              <button type="submit" ng-disabled="!projectName" ng-click="saveform(projectName,projectNotes,projectID)" class="btn btn-primary ">حفظ</button>
                              <button ng-click="showGridHideForm()" class="btn">بحث</button>
                              <button class="btn " ng-click="clearform()">تفريغ</button>

                          </div>
                      </div>
                  </form>
              </div>
          </div>
}






@section myjs{


    <script>
        function projectCtrl($scope) {
            angular.element(document).ready(function () {

                $scope.projectID = -1;
                $scope.p = [];
                $scope.filldata = function () {
                    $.ajax({
                        url: "/Home/allprojects", success: function (result) {
                            $scope.p = result;//filling it with data
                            $scope.$apply();
                        }
                    });
                };
                $scope.filldata();
                // $scope.p = [{ name: "ffff",id:2 },{ name:"ffff" ,id:1},{name: "ffff",id:3}];
                $scope.Ismyformyhidden = true;
                $scope.Ismytabledivhidden = false;
                $scope.$apply();


                $scope.addnewone = function () {

                    $scope.clear();
                    $scope.hideGridShowForm();
                }
                $scope.hideGridShowForm = function () {
                    $scope.Ismyformyhidden = false;
                    $scope.Ismytabledivhidden = true;
                    $scope.$apply();
                }

                $scope.showGridHideForm = function () {
                    $scope.Ismyformyhidden = true;
                    $scope.Ismytabledivhidden = false;
                    $scope.$apply();
                }


                $scope.clear = function () {
                    $scope.projectNotes = "";
                    $scope.projectName = "";
                    $scope.projectID = -1;
                    $scope.$apply();

                }
                $scope.clearform = function () {
                    $scope.clear();

                };
                //will be implemented when the db is imp.
                $scope.save = function (name, notes, id) {
                    var array = [name, notes, id];
                    $.ajax({
                        url: "/Home/add", data: { projectname: name, projectnotes: notes, projectid: id }, success: function (result) {
                            //if (result == "added") {
                            //    $scope.p.push({name:array[0],notes:array[1],id:array[2]});
                            //    $scope.$apply();
                            //}
                            //else if (result == "edited") {

                            //    alert("edited");
                            //}
                            alertify.success("تم الحفظ :)");
                            $scope.filldata();

                        }
                    });

                }
                $scope.saveform = function (name, notes, id) {

                    $scope.save(name, notes, id);
                    $scope.clear();
                }

                $scope.delete = function (myindex) {

                    $scope.deleteDB($scope.p[myindex], myindex);


                }
                //will be implemented when the db is imp
                $scope.deleteDB = function (project, myindex) {

                    $.ajax({
                        url: "/Home/delete/" + project.id, success: function (result) {
                            if (result == "deleted") {
                                $scope.p.splice(myindex, 1);
                                $scope.$apply();
                                alertify.success("تم الإلغاء");
                            }
                            else if (result == "childparenterror") {

                                alertify.error("يجب إلغاء الوحدات المرتبطه بها أولاً ");

                            }
                            //else {
                            //    alertify.error("خطأ أخر حدث");
                            //}
                        }
                    });


                }




                $scope.details = function (project) {

                    // var myproject = $scope.detailsDB(project);

                    $scope.projectNotes = project.notes;
                    $scope.projectName = project.name;
                    $scope.projectID = project.id;
                    $scope.hideGridShowForm();


                    $scope.$apply();
                }
                //$scope.fillformdetails= function (name,notes)
                //{

                //    $(".clearme").eq(0).val("4");
                //    $(".clearme").eq(1).val("5");

                //}
                //will be implemented when the db is imp
                $scope.detailsDB = function (project) {
                    //n
                    return true;
                }






                // $("button").fadeOut(50000);


            })
        }
    </script>

}

