﻿@{
    Layout = null;
    ViewBag.Title = "Report";
}

<html >

    <head>
@Scripts.Render("~/bundles/scripts")
@Styles.Render("~/bundles/styles")
        <script src="~/Scripts/Report.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Miltonian+Tattoo' rel='stylesheet' type='text/css'>
    </head>
    <body ng-app="r" ng-controller="report">
        <style>

            /*.project {
            color:red;
            border:thin dotted red;
            
            }
.building {
            color:yellow;
            border:thin dotted yellow;
            
            }*/

            body {
            
            
            font-size: 18px;
            }
      span{
               display: inline-block;
padding: 9px;
width: 195px;
border: thin dotted rgb(214, 179, 199);
               }


            .status {
            font-family: 'Miltonian Tattoo', cursive;
            color: green;
            font-size: 23px;
            padding: 0 0 5 0;
            text-align:center;
            }

            span:hover {
            
            /*background-color:red;*/
            
            }

            .hideme {
            
            display:none;
            
            }






        </style>
       
        <table>

            <div>
                <span>المشاريع</span>
                <span>إجمالى الربح</span>
                <span>عدد الوحدات المباعه</span>
                <span>عدد الوحدات المباعه بالكاش</span>
                <span>عدد الوحدات المباعه بالتقسيط</span>
                <span>عدد الوحدات الغير مباعه</span>

            </div>

             <div  >
                <span>الجميع</span>
                <span>{{obj.totalRevenue}}</span>
                <span>{{obj.sold}}</span>
                <span>{{obj.cash}}</span>
                <span>{{obj.installment}}</span>
               <span>{{obj.unsold}}</span>
            </div>
           <div ng-repeat="project in big" class="project">
               
            
                <span >{{project.Name}}<button onclick="show(this);beautify();"  >+</button></span> 
                <span>{{searchy([project]).totalRevenue}}</span>
                <span>{{searchy([project]).sold}}</span>
                <span>{{searchy([project]).cash}}</span>
                <span>{{searchy([project]).installment}}</span>
               <span>{{searchy([project]).unsold}}</span>
                
          

           <div ng-repeat="building in project.building" class="building hideme">
               <span>{{building.Name}}<button onclick="show(this)" >{{v}}</button></span> 
                <span>{{searchy([{building:[building]}]).totalRevenue}}</span>
                <span>{{searchy([{building:[building]}]).sold}}</span>
                <span>{{searchy([{building:[building]}]).cash}}</span>
                <span>{{searchy([{building:[building]}]).installment}}</span>
                <span>{{searchy([{building:[building]}]).unsold}}</span>


                <div ng-repeat="unit in building.units" class="unit hideme">
            <span>{{unit.UnitNO}}<button onclick="show(this)" >{{v}}</button></span> 
                <span class="status">{{searchy([{building:[{units:[unit]}]}]).totalRevenue}}:المدفوع    <br />  {{remain(searchy([{building:[{units:[unit]}]}]).Remained+":المتبقى")}}</span>
                <span class="status" >{{searchy([{building:[{units:[unit]}]}]).sold|status:"sold" }}</span>
                <span class="status">{{searchy([{building:[{units:[unit]}]}]).cash|status:"cash"}}</span>
                <span class="status">{{searchy([{building:[{units:[unit]}]}]).installment|status:"installment"}}</span>
                <span class="status">{{searchy([{building:[{units:[unit]}]}]).unsold|status:"unsold"}}</span>

                     <div ng-repeat="customer in unit.customer" class="customer hideme">
                         <span class="status" style="color:blue;width:100%">الأسم:{{customer.Name}}   الموبايل:{{customer.MobileNO}}   الهاتف:{{customer.TelNO}}
                                العنوان:{{customer.Address}}</span>
                        
     @*  c <span>{{customer.Name}}<button onclick="show(this)" >{{v}}</button></span> 
                <span>{{searchy([{building:[building]}]).totalRevenue}}</span>
                <span>{{searchy([{building:[building]}]).sold}}</span>
                <span>{{searchy([{building:[building]}]).cash}}</span>
                <span>{{searchy([{building:[building]}]).installment}}</span>
                <span>{{searchy([{building:[building]}]).unsold}}</span>*@


             @*             <div ng-repeat="installment in customer.installment" class="building hide" >
            i<span>{{installment.Price}}<button onclick="show(this)" >{{v}}</button></span> 
                <span>{{searchy([{building:[building]}]).totalRevenue}}</span>
                <span>{{searchy([{building:[building]}]).sold}}</span>
                <span>{{searchy([{building:[building]}]).cash}}</span>
                <span>{{searchy([{building:[building]}]).installment}}</span>
                <span>{{searchy([{building:[building]}]).unsold}}</span>

                </div>*@
                </div>


                </div>


            </div>
            
                           </div>
        </table>


    </body>
</html>
