﻿@{
    ViewBag.Title = "Unit";
     Layout=null;
}
<!DOCTYPE html>
<html ng-app="app" >

<head>
    <title>تسجيل الوحدات</title>
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>    
      <script src="~/Scripts/toDictionary.js">    </script>
    @*working script*@
        <script src="~/Scripts/buildingJs.js"></script>
    @*end*@

  @* <link href="~/Content/css.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="~/Content/unitpagecss.css" />
    <link href="~/Content/alert.css" rel="stylesheet" />
    @*<link href="~/Content/bootstrappaging.css" rel="stylesheet">
       <script src="http://bootstrappaginator.org/lib/bootstrap-paginator.min.js"></script>*@
    <link href="~/Content/bootstrappaging.css" rel="stylesheet" />
       <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="~/Scripts/alert.js"></script>
    
    </head>
    <body ng-controller="BuildingCtrl" dir="rtl" >
        <span ng-show="isViewLoading">

   <img src="http://efficiency.baxi.co.uk/themes/baxi/images/loading_small.gif"  />
        </span>
        <div ng-view></div>
   
    </body>
</html>
