﻿@{
    Layout = null;
}
<div class="container">
    <input placeholder="بحث عن رقم الوحدة" type="text" data-ng-model="search.UnitNO" data-ng-change="filter();currentPage=1"/>
    <input placeholder="عدد السجلات فى الصفحه" type="number" ng-model="entryLimit"/>
    <button class="btn btn-danger " style="float:left" ng-disabled="Unitsstobeodeleted.length==0" ng-click="deleteall()">حذف </button>
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>أسم العمارة</th>
            <th>أسم المشروع</th>
            <th>رقم الوحدة</th>
            <th>محجوز؟</th>
            
        </tr>
</thead>
        
        <tr ng-repeat="unit in filtered = (ReUnits | filter:search) | filter:search | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit|orderBy:'UnitsID':true"  >
          <td><input ng-click="deleteGroup(unit,$event)" type="checkbox"  class="checkedrow"/></td>
            <td class="detailsTD" onclick="document.location='#/units/{{unit.UnitsID}}'" > {{unit.ReBuilding.Name}}
     </td>

            <td class="detailsTD" onclick="document.location='#/units/{{unit.UnitsID}}'">{{unit.ReProject.Name}}
     </td>


            <td class="detailsTD" onclick="document.location='#/units/{{unit.UnitsID}}'">{{unit.UnitNO}}
     </td>

            <td class="detailsTD" onclick="document.location='#/units/{{unit.UnitsID}}'">{{unit.Is_reserved|checkmark}}
     </td>
        
            
        </tr>  

    
    </table>

<button class="btn btn-success" ng-click='currentPage=currentPage-1' ng-disabled='currentPage==1'>back</button> {{currentPage}}/{{noOfPages}} <button class="btn btn-success" ng-click="currentPage=currentPage+1" ng-disabled='currentPage==noOfPages'>Next</button>

    <a href="#/units/-1">
        <button class="btn btn-primary">إضافه</button></a>
</div >
