﻿@{
    Layout = null;
}
<div class="well">
  <h1 class="mytitle">تسجيل الوحدات</h1>
 </div>
 <div class="container">
 
<form name ="formy" novalidate>
    
    <label> أسم المشروع</label>
       
    <select class="projectselect input" ng-model="form.selectedProject" ng-options="p.ProjectID as p.Name for p in ReProjects" >


          <option style="display:none" value="">أختر من </option>

    </select>

     
    <br />
    <label> أسم العمارة</label>
    <select ng-model="form.selectedBuilding" ng-options="b.BuildingID as b.Name for b in ReBuildings|idequal:form.selectedProject" class=" buildingselect input">
       <option style="display:none" value="">أختر من </option>
     
    </select>
    <br />
    <label> رقم النموذج</label>
    <input ng-pattern="/^\d+$/" ng-model="form.ModelNO" class="input" />
    <br />
    <label> أسم النموذج</label>
    <input ng-model="form.ModelName" class="input" />
    <br />
    <label> رقم الوحدة</label>
    <input ng-pattern="/^\d+$/" ng-model="form.UnitNO" class="input" />
    <br />
    <label> رقم الدور</label>
    <input ng-pattern="/^\d+$/" ng-model="form.FloorNO" class="input" />
    <br />
    <label>ملاحظات</label>
    <textarea ng-model="form.NOtes" class="input" cols=22 rows=3></textarea>
    <br />
  <div class="buttons">
    <button class="btn btn-primary"  ng-click="create(form)" ng-disabled="!form.selectedBuilding||!form.FloorNO||!form.ModelName||!form.UnitNO||!form.ModelNO">حفظ</button>
      <button class="btn btn-primary"  ng-click="form=[]" ng-disabled="!form.selectedBuilding&&!form.FloorNO&&!form.ModelName&&!form.UnitNO&&!form.ModelNO">تفريغ</button>
   <a href="#/units"> <button class="btn btn-primary" >بحث</button></a>
    <button ng-click="delete();" class="btn btn-primary">حذف</button>
  </div>
   
      </div>
  </form>    